
.gm-constructor-control-panel {

    overflow-y: scroll;

    width: 100%;
    padding: 8px;

}

.gm-constructor-control-panel > h1 {
    margin-top: 10px;
    margin-bottom: 0;
}

.gm-constructor-control-panel-errors > fieldset > p {
    white-space: pre-wrap;
}

fieldset.gm-constructor-error {
    background-color: rgba(189, 98, 98, 0.209);
}

fieldset.gm-constructor-warning {
    background-color: rgba(68, 102, 124, 0.18);
}

fieldset.gm-constructor-debug {
    background-color: rgba(47, 47, 47, 0.098);
}

.gm-constructor-control-panel p {
    margin: 8px 0;
}

.gm-constructor-control-panel-errors > fieldset > pre {
    word-break: break-all;
    white-space: pre-wrap;
}

.gm-constructor-page fieldset {
    padding: 8px;
}

.gm-constructor-control-panel fieldset {
    margin: 10px 0;
}

.gm-constructor-page fieldset legend {
    font-weight: bold;
}

.gm-constructor-control-panel div.select {
    padding: 5px 0;
}

.gm-constructor-control-panel div.checkbox > label > input {
    margin-right: 5px;
}

.gm-constructor-viewer {

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

}

.gm-constructor-viewer fieldset {
    border-radius: 5px;
    transition: 0.25s ease;
}

.gm-constructor-viewer > fieldset > legend {
    font-size: large;
}

.gm-constructor-viewer legend {
    cursor: pointer;
}

.gm-constructor-page code, .gm-constructor-page pre {
    font-family: monospace, monospace;
}

.gm-constructor-info {
    flex-grow: 1;
    flex-shrink: 1.2;
    overflow: auto;
    min-width: 0;

    display: flex;
}

.gm-constructor-info > legend {
    padding: 4px;
}

.gm-constructor-info.collapsed {
    opacity: 1 !important;
}

.gm-constructor-info.collapsed .gm-constructor-log {
    display: block;
}

.gm-constructor-info > pre {
    margin: 0;
    min-width: 0;
    flex-grow: 1;
}

.gm-constructor-errors:not(.collapsed) {
    min-width: 0;
    overflow-y: auto;
}

.gm-constructor-errors.collapsed > :not(legend) {
    display: none;
}

.gm-constructor-errors {
    font-size: large;
}

/** I know I shouldn't do this but it just looks nicer... */
.plugin-settings[for='GMEdit-Constructor'] {
    padding-top: 6px;
    line-height: 20px;
}
