
/************************
*        General        *
*************************/

.gm-constructor-tab {

	display: flex;
	flex-direction: column;
	position: static;

	width: 100%;
	height: 100%;

	padding: 0;

	box-shadow: none;

}

.gm-constructor-tab fieldset {
	border-radius: 5px;
}

.gm-constructor-tab fieldset.collapsed > :not(legend) {
	display: none !important;
}

.gm-constructor-tab fieldset.collapsed {
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-radius: 0;
	padding: 0;
}

.gm-constructor-tab fieldset > legend {
	font-weight: bold;
	cursor: pointer;
}

.gm-constructor-tab > fieldset > legend {
	font-size: large;
}

.gm-constructor-tab code, .gm-constructor-tab pre {
	font-family: monospace, monospace;
}

.gm-constructor-show-tooltip-indicators [title] > span::after,
.gm-constructor-give-tooltip-indicator::after {
	content: '(?)';
	color: #8fc1ff;
	display: inline-block;
	scale: 0.75;
	margin-left: 0.5em;
	cursor: help;
}

/************************
*     Control Panel     *
*************************/

.gm-constructor-control-panel {
	padding: 8px;
	overflow-y: scroll;
}

.gm-constructor-control-panel > h1 {
	margin-top: 10px;
	margin-bottom: 0;
}

.gm-constructor-control-panel-errors:not([hidden]) {
	display: flex;
	flex-direction: column-reverse;
}

.gm-constructor-control-panel-errors > fieldset > p {
	white-space: pre-wrap;
}

fieldset.gm-constructor-error {
	background-color: rgba(189, 98, 98, 0.209);
}

fieldset.gm-constructor-warning {
	background-color: rgba(68, 102, 124, 0.18);
}

fieldset.gm-constructor-debug {
	background-color: rgba(47, 47, 47, 0.098);
}

.gm-constructor-control-panel fieldset {
	padding: 0.5em 1em 1em 1em;
}

.gm-constructor-control-panel p {
	margin: 8px 0;
}

.gm-constructor-control-panel [title] > span {
	cursor: help;
}

.gm-constructor-control-panel .select[hidden] {
	display: none !important;
}

.gm-constructor-control-panel .select,
.gm-constructor-control-panel .checkbox,
.gm-constructor-control-panel .input {
	margin: 0.4em 0 0.4em 0;
}

.gm-constructor-control-panel .select,
.gm-constructor-control-panel .input {
	display: block;
}

.gm-constructor-control-panel label.error {
	color: rgb(189, 98, 98);
}

.gm-constructor-control-panel label.input.error > input {
	border: 1px solid rgb(189, 98, 98);
}

.gm-constructor-control-panel-errors > fieldset > pre {
	word-break: break-all;
	white-space: pre-wrap;
}

.gm-constructor-control-panel fieldset {
	margin: 10px 0;
}

.gm-constructor-control-panel section {
	margin-top: 1em;
}

.gm-constructor-control-panel section h3 {
	margin: 0;
}

.gm-constructor-control-panel .select.singleline {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	vertical-align: middle;
}

.gm-constructor-control-panel .select.singleline > span {
	flex-grow: 1;
	flex-basis: 30%;
}

.gm-constructor-control-panel .select.singleline > select {
	flex-grow: 1;
	flex-basis: 70%;
	width: auto;
}

.gm-constructor-control-panel .checkbox {
	display: flex;
	column-gap: 0.25em;
	align-items: center;
}

/************************
*     Compile Window    *
*************************/

.gm-constructor-viewer fieldset, .gm-constructor-viewer-bottom-pane {
	padding: 0.5em;
	transition: 0.25s ease;
}

.gm-constructor-viewer > header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	border-bottom: 0.2em solid;
	padding: 0.4em;
}

.gm-constructor-viewer > header > h4 {
	margin: 0;
}

.gm-constructor-viewer > header > nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-wrap: wrap;
	column-gap: 1em;
}

.gm-constructor-viewer > pre {
	flex-grow: 1;
}

/** Override GMEdit's rule that messes with our editor instance. */
.popout-window.gm-constructor-viewer div:not(:first-child) {
	margin-top: unset;
}

.gm-constructor-viewer-errors:not(.collapsed) {
	min-width: 0;
	overflow-y: auto;
}

.gm-constructor-viewer-errors {
	font-size: large;
}
