
.gm-constructor-viewer {
    display: block;
}

.gm-constructor-control-panel {

    display: block;
    overflow-y: scroll;

    padding: 8px;

}

.gm-constructor-info {
    display: flex;
    flex-direction: row;
    column-gap: 4px;

    padding: 8px;
}

.gm-constructor-log {
    overflow: scroll;
    flex-grow: 1;

    padding: 8px;
    height: 70%;
}

.gm-constructor-errors {

    padding: 8px;
    
    height: 30%;
    overflow-y: scroll;

}

.gm-constructor-errors h1 {
    font-size: medium;
    line-height: 50%;
}

/** I know I shouldn't do this but it just looks nicer... */
.plugin-settings[for='GMEdit-Constructor'] {
    padding-top: 6px;
    line-height: 20px;
}